@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body {
    @apply bg-[#7AC5F6] dark:bg-gray-800;
  }
    
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
  
  .textCenter {
    text-align: center;
  }
    
  .intro {
    max-width: none;
    line-height: var(--line-height-loose);
  }

    .social-icons {
      font-size: 30px
  }
  
  .social-icons ul {
      margin-bottom: 30px;
      padding: 0;
      text-align:center
  }
  
  .social-icons ul li {
      display:inline-block
  }
  
  .social-icons ul li a svg {
      /*color:#4a4656 */
  }
  
  .social-icons ul li a svg:hover {
      color:#000
  }
  
  .social-icons ul li:not(:last-child) {
      margin-right:40px
  }
  
  @media only screen and (max-width: 500px) {
      .social-icons {
          font-size:30px
      }
  
      .social-icons ul li:not(:last-child) {
          margin-right:30px
      }
  }

  .footer-menu ul li {
      display: inline-block;
      align-items: center;
      padding: 0 20px;
  }

  .social-icons ul li:not(:last-child) {
    margin-right: 40px;
    }

  footer {
    padding-bottom: 40px;
    text-align: center;
    display: block;
    }




  a {
    color: inherit;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    a:hover, a:focus {
      color: #ababab;
      text-decoration: none;
      outline: 0 none; }
  
  h1, h2, h3,
  h4, h5, h6 {
    color: #1e2530;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    line-height: 1.3; }
  
  p {
    margin-bottom: 20px; }
    p:last-child {
      margin-bottom: 0; }
  
  /*
   * Selection color
   */
  ::-moz-selection {
    background-color: #FA6862;
    color: #fff; }
  
  ::selection {
    background-color: #FA6862;
    color: #fff; }
  
  /*
   *  Reset bootstrap's default style
   */
  .form-control::-webkit-input-placeholder,
  ::-webkit-input-placeholder {
    opacity: 1;
    color: inherit; }
  
  .form-control:-moz-placeholder,
  :-moz-placeholder {
    /* Firefox 18- */
    opacity: 1;
    color: inherit; }
  
  .form-control::-moz-placeholder,
  ::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 1;
    color: inherit; }
  
  .form-control:-ms-input-placeholder,
  :-ms-input-placeholder {
    opacity: 1;
    color: inherit; }
  
  button, input, select,
  textarea, label {
    font-weight: 400; }
  
  .btn {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .btn:hover, .btn:focus, .btn:active:focus {
      outline: 0 none; }
  
  .btn-primary {
    background-color: #FA6862;
    border: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    height: 48px;
    line-height: 50px;
    padding: 0 42px;
    text-transform: uppercase; }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
      background-color: #f9423a; }
  
  .btn-border {
    border: 1px solid #d7d8db;
    display: inline-block;
    padding: 7px; }
  
  /*
   *  CSS Helper Class
   */
  .clear:before, .clear:after {
    content: " ";
    display: table; }
  
  .clear:after {
    clear: both; }
  
  .pt-table {
    display: table;
    width: 100%;
    height: -webkit-calc(100vh - 4px);
    height: -moz-calc(100vh - 4px);
    height: calc(100vh - 4px); }
  
  .pt-tablecell {
    display: table-cell;
    vertical-align: top; }
  
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  
  .relative {
    position: relative; }
  
  .primary,
  .link:hover {
    color: #FA6862; }
  
  .no-gutter {
    margin-left: 0;
    margin-right: 0; }
    .no-gutter > [class^="col-"] {
      padding-left: 0;
      padding-right: 0; }
  
  .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
  
  .flex-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  
  .space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  
  
  
  
  /*------------------------------------------------
    Start Styling
  -------------------------------------------------*/
  .mt20{margin-top:0px;}
  
  
  /*------------------------------------------------
      Home Page
  -------------------------------------------------*/
  
  .hexagon-item:first-child {
      margin-left: 0;
  }
  
  
  
  /* End of container */
  .hexagon-item {
    cursor: pointer;
    width: 200px;
    height: 173.20508px;
    float: left;
    margin-left: -29px;
    z-index: 0;
    position: relative;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); }
    .hexagon-item:first-child {
      margin-left: 0; }
    .hexagon-item:hover {
      z-index: 1; }
      .hexagon-item:hover .hex-item:last-child {
        opacity: 1;
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3); }
      .hexagon-item:hover .hex-item:first-child {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2); }
        .hexagon-item:hover .hex-item:first-child div:before,
        .hexagon-item:hover .hex-item:first-child div:after {
          height: 5px; }
      .hexagon-item:hover .hex-item div::before,
      .hexagon-item:hover .hex-item div::after {
        background-color: #173494; }
      .hexagon-item:hover .hex-content svg {
        -webkit-transform: scale(0.97);
        -moz-transform: scale(0.97);
        -ms-transform: scale(0.97);
        -o-transform: scale(0.97);
        transform: scale(0.97); }
  
  .page-home .hexagon-item:nth-last-child(1),
  .page-home .hexagon-item:nth-last-child(2),
  .page-home .hexagon-item:nth-last-child(3) {
    -webkit-transform: rotate(30deg) translate(87px, -80px);
    -moz-transform: rotate(30deg) translate(87px, -80px);
    -ms-transform: rotate(30deg) translate(87px, -80px);
    -o-transform: rotate(30deg) translate(87px, -80px);
    transform: rotate(30deg) translate(87px, -80px); }
  
  .hex-item {
    position: absolute;
    top: 0;
    left: 50px;
    width: 100px;
    height: 173.20508px; }
    .hex-item:first-child {
      z-index: 0;
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
      transform: scale(0.9);
      -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
    .hex-item:last-child {
      transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      z-index: 1; }
    .hex-item div {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      width: 100px;
      height: 173.20508px;
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      -o-transform-origin: center center;
      transform-origin: center center; }
      .hex-item div::before, .hex-item div::after {
        background-color: #1e2530;
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
        -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
        -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
      .hex-item div:before {
        top: 0; }
      .hex-item div:after {
        bottom: 0; }
      .hex-item div:nth-child(1) {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg); }
      .hex-item div:nth-child(2) {
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg); }
      .hex-item div:nth-child(3) {
        -webkit-transform: rotate(120deg);
        -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        -o-transform: rotate(120deg);
        transform: rotate(120deg); }
  
  .hex-content {
    color: #fff;
    display: block;
    height: 180px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    transform: rotate(-30deg);
    width: 156px; }
    .hex-content .hex-content-inner {
      left: 50%;
      margin: -3px 0 0 2px;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .hex-content .icon {
      display: block;
      font-size: 36px;
      line-height: 30px;
      margin-bottom: 11px; }
    .hex-content .title {
      display: block;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 24px;
      text-transform: uppercase; }
    .hex-content svg {
      left: -7px;
      position: absolute;
      top: -13px;
      transform: scale(0.87);
      z-index: -1;
      -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
    .hex-content:hover {
      color: #fff; }
  
  .page-home .hexagon-item:nth-last-child(1), .page-home .hexagon-item:nth-last-child(2), .page-home .hexagon-item:nth-last-child(3) {
      -webkit-transform: rotate(30deg) translate(87px, -80px);
      -moz-transform: rotate(30deg) translate(87px, -80px);
      -ms-transform: rotate(30deg) translate(87px, -80px);
      -o-transform: rotate(30deg) translate(87px, -80px);
      transform: rotate(30deg) translate(87px, -80px);
  }
  /*------------------------------------------------
      Welcome Page
  -------------------------------------------------*/
  
  @media (min-width: 1200px)
  {
  .col-lg-offset-2 {
      margin-left: 16.66666667%;
  }
  }
  
  @media (min-width: 1200px)
  {
  .col-lg-8 {
      width: 66.66666667%;
  }
  }
  
  .hexagon-item:first-child {
      margin-left: 0;
  }
  
  .pt-table.desktop-768 .pt-tablecell {
      padding-bottom: 110px;
      padding-top: 0px;
  }
  
  
  
  .hexagon-item:hover .icon i
  {
    color:#ff0037;
    transition:0.6s;
    
  }
  
  
  .hexagon-item:hover .title
  {
    -webkit-animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  /***************************/
  
  @-webkit-keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
  
  
  
  @media only screen and (max-width: 767px)
  {
  .hexagon-item {
      float: none;
      margin: 0 auto 50px;
  }
    .hexagon-item:first-child {
      margin-left: auto;
  }
    
    .page-home .hexagon-item:nth-last-child(1), .page-home .hexagon-item:nth-last-child(2), .page-home .hexagon-item:nth-last-child(3) {
      -webkit-transform: rotate(30deg) translate(0px, 0px);
      -moz-transform: rotate(30deg) translate(0px, 0px);
      -ms-transform: rotate(30deg) translate(0px, 0px);
      -o-transform: rotate(30deg) translate(0px, 0px);
      transform: rotate(30deg) translate(0px, 0px);
  }
    
  }

  /* --  Resume */

  .status-badge {
    border-radius: 9999px;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 1.75rem;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    text-transform: uppercase;
    }

    .user-photo {
      --tw-border-opacity: 1;
      border-color: rgba(255, 255, 255, var(--tw-border-opacity));
      border-radius: 0.75rem;
      border-width: 2px;
      height: 6rem;
      position: absolute;
      top: -2.5rem;
      --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      width: 5rem;
      }


      .download-btn {
        --tw-bg-opacity: 1;
        background-color: rgba(23, 52, 148, var(--tw-bg-opacity));
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        --tw-text-opacity: 1;
        color: rgba(255, 255, 255, var(--tw-text-opacity));
        width: 100%;
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        transition-duration: 200ms;
        }

        .download-btn-icon {
          --tw-bg-opacity: 1;
          background-color: rgba(23, 52, 148, var(--tw-bg-opacity));
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
          padding-top: 0.75rem;
          padding-bottom: 0.75rem;
          padding-left: 1.25rem;
          padding-right: 1.25rem;
          --tw-text-opacity: 1;
          color: rgba(255, 255, 255, var(--tw-text-opacity));
          }

          .block-title {
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 1.75rem;
            margin-bottom: 1.25rem;
            }
            
            .skill-tag {
              --tw-bg-opacity: 1;
              background-color: rgba(237, 233, 254, var(--tw-bg-opacity));
              border-radius: 0.5rem;
              font-weight: 500;
              font-size: 0.875rem;
              line-height: 1.25rem;
              margin: 0.25rem;
              padding-left: 1rem;
              padding-right: 1rem;
              padding-top: 0.375rem;
              padding-bottom: 0.375rem;
              --tw-text-opacity: 1;
              color: rgba(23, 52, 148, var(--tw-bg-opacity));
              }

              .block-section {
                --tw-bg-opacity: 1;
                background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
                border-radius: 0.75rem;
                --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
                box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
                }
                    .bx {
                      font-family: 'boxicons'!important;
                      font-weight: normal;
                      font-style: normal;
                      font-variant: normal;
                      line-height: 1;
                      display: inline-block;
                      text-transform: none;
                      speak: none;
                      -webkit-font-smoothing: antialiased;
                      -moz-osx-font-smoothing: grayscale;
                      }
                      .menu-link-hover {
                        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
                        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
                        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                        transition-duration: 150ms;
                        transition-duration: 300ms;
                        }
                        .menu-link-active {
                        --tw-border-opacity: 1;
                        border-color: rgba(23, 52, 148, var(--tw-bg-opacity));
                        border-bottom-width: 2px;
                        display: inline-flex;
                        padding-bottom: 1.25rem;
                        --tw-text-opacity: 1;
                        color: rgba(23, 52, 148, var(--tw-bg-opacity));
                        }
                        .company-logo {
                          border-radius: 0.75rem;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          flex-shrink: 0;
                          height: 3rem;
                          --tw-text-opacity: 1;
                          color: rgba(255, 255, 255, var(--tw-text-opacity));
                          width: 3rem;
                          }

                          @media (min-width: 640px)
                            .item-section {
                          display: flex;
                          align-items: flex-start;
                          }


                          .item-header-info {
                            display: flex;
                            align-items: center;
                            font-weight: 500;
                            font-size: 0.875rem;
                            line-height: 1.25rem;
                            --tw-text-opacity: 1;
                            color: rgba(156, 163, 175, var(--tw-text-opacity));
                            }

                            .job-item-badge {
                              --tw-bg-opacity: 1;
                              background-color: rgba(237, 233, 254, var(--tw-bg-opacity));
                              border-radius: 0.5rem;
                              display: inline-flex;
                              font-weight: 500;
                              font-size: 0.75rem;
                              line-height: 1rem;
                              padding-left: 0.5rem;
                              padding-right: 0.5rem;
                              padding-top: 0.125rem;
                              padding-bottom: 0.125rem;
                              --tw-text-opacity: 1;
                              color: rgba(139, 92, 246, var(--tw-text-opacity));
                              text-transform: capitalize;
                              }

                              @media (min-width: 640px)
                                .item-header {
                                  display: flex;
                                  justify-content: space-between;
                                }
                              
                                